.intro{
    height: 800px;
    background: url(../img/saturn-look.jpg) no-repeat center;
    position: relative;
    color: white;
    background-size: cover;
    background-position: left top;
    background-attachment: fixed;
}
.luca-bravo-data-wrap {
    background: url(../img/title-shadow.png);
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.landing-img-block_header-text {
    font-size: 80px;
    max-width: 1030px;
    margin: 0 auto;
    line-height: 72px;
    font-weight: 700;
}
.luca-bravo_header-text {
    max-width: 1139px;
    margin-left: 80px;
    margin-right: 80px;
}
.luca-bravo-img-block_info-text__header {
    font-size: 48px;
    line-height: 63px;
    color: #ff6c10;
    font-weight: 700;
}
.luca-bravo-img-block_info-text {
    max-width: 765px;
    margin: 28px 0 100px 80px;
}
.simple-text-block {
    padding: 80px 80px 100px 80px;
}
.simple-text-block h2 {
    max-width: 1200px;
    font-size: 49px;
    line-height: 64px;
}
.simple-text-block h2 span{
    color: #ff6c10;
}
.video-block {
    width: 100%;
    position: relative;
    padding-bottom: 200px;
    background-color: black;
}
.title-img-block {
    height: 600px;
    min-height: 420px;
    background-color: black;
    position: relative;

    transition: height 200ms ease;

}
.video-wrap {
    position: absolute;
    width: 100%;
    height: 600px;
    text-align: left;
    top: 0;
    left: 0;
    min-height: 400px;
    display: none;
    overflow: hidden;
}
.title-background-wrap {
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 1;
    transition: opacity 1000ms ease;
}

.title-background-color {
    width: 100%;
    height: 100%;
    background-color: #003e83;
    opacity: 0.25;
}

.landing-img-block_data-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1000ms ease;
    padding: 100px 0;
}
.title-img-block_info-text {
    font-size: 90px;
    line-height: 75px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}
.title-img-block_header-img {
    /* padding-top: 158px; */

}
.button_new.button__blue {
    background-color: #007dd4;
    color: white;
    border: none;
    line-height: 60px;
}

.room__video{
    text-align: center;
    color: white;
    padding: 100px 0 100px;
    background: url(../img/kran.jpg) no-repeat center;
    background-color: black;
    background-size: cover;
}

.button_content_new {
    background: #007dd4;
    width: 143px;
    height: 56px;
    border-radius: 14%;
    vertical-align: middle;
    display: block;
    margin: 0 auto 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid white;
    color:white;
}
.landing-title-facts{
    display: flex;
    background-color: black;
    color: white;
    height: 177px;
    padding: 0 50px;
    justify-content: flex-start;
}
.landing-title-fact_digit {
    font-size: 72px;
    line-height: 1em;
}
.landing-title-fact:first-child {
    border: 2px solid #007dd4;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
}
.landing-title-fact{
    padding: 50px;
}
h2{
    font-size: 81px;
    font-weight: bold;
}
.shop span{
    font-size: 56px;
}
section.shop{
    color: black;
    padding: 60px 80px 90px;
    position: relative;
    background: url(../img/bg-lines.jpg) right top;
    background-repeat: no-repeat;
}
.shop__block-img{
    width: 360px;
    height: 360px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 16px;
    box-shadow: 0px 0px 13px 2px black;
}
.shop__block-img img{
    width: 100%;
    height: 100%;
}
.shop__block{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 64px;
    line-height: 27px;
    text-align: center;
}
.wrapp__shop{
    width: 48%;
}
.shop .blocks{
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 53px;
}
.store-video{
    background: url(../img/store-girl.jpg) center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    background-attachment: fixed;
}

.store-video img{
    margin:30px;
    width:120px;
}
.store-video h2{
    text-shadow: 1px 1px 1px black;
}
.dzen{
    padding: 120px 0px 100px 90px;
}
.dzen span{
    font-size: 56px;
}
.dzen ul{
    padding-left: 55px;
    font-size: 28px;
    margin: 20px 0 10px 0px;
}
.dzen ul li img {
margin-right: 10px;
}
.dzen-left{
    width: 50%;
}
.want__im{
    text-align: center;
    margin:20px 0;
}
.want__im img{
    max-width: 100%;
}
.riscs{
    padding: 120px 90px 80px;
    background-color: #ececec;
}
.riscs .blocks{
    align-items: flex-start;
}
.riscs .blocks img{
    width: 70px;
    margin-right: 20px;
}
.riscs h3{
    font-size: 38px;
    font-weight: bold;
}
.riscs span{
    font-size: 29px;
}
.riscs__left{
    width:50%;
}
.inline{
    font-size: 29px;
    font-weight: bold;
    margin: 20px;
}
.money{
    text-align: center;
}
.money .blocks{
    justify-content: center;
}
.form-block{
    padding: 120px 90px 130px;
}
.row input[type=text]{
    padding: 10px;
    width: 410px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid black;
    margin: 23px;
}
.about-bussines{
    padding: 120px 90px 130px;
    text-align: center;
    background: url(../img/succesfull_business.png) center;
    background-size: cover;
    min-height: 600px;
}
.form-block span{
    font-size: 56px;
}
.form-block input[type=submit]{
    display: block;
    font-size: 27px;
    min-width: 300px;
    height: 60px;
    line-height: 56px;
    border-radius: 40px;
    border: 2px solid #007dd4;
    color: #007DD4;
    text-align: center;
    position: relative;
    transition: background-color 400ms ease, color 400ms ease;
    pointer-events: auto;
    background-color: white;
    font-weight: bold;
    margin: 44px;
}
.room-slide{
    height: 800px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding: 277px 0;

}
.slide1{
    background: url(../img/slide1.jpg) center;
    background-size: cover;
}
.slide2{
    background: url(../img/slide2.jpg) center;
    background-size: cover;
}
.slide3{
    background: url(../img/slide3.jpg) center;
    background-size: cover;
}
.slide4{
    background: url(../img/slide4.jpg) center;
    background-size: cover;
}
/*.room-slider .owl-item{
    margin: 0!important;
}
.owl-stage{
    padding: 0!important;
}*/
.slide-box{
    padding:30px 60px;
    background-color: rgba(21, 19, 19, 0.44);
}
.slide-box a{
    color:white;
    text-shadow: none;
    font-size: 30px;
}
.room-car{
    padding: 79px 90px 375px;
    background: url(../img/hilux.png) center bottom no-repeat;
    background-size: 768px;
}
.room-car span{
    font-size: 56px;
}
.room-car h2{
    color: #dc0300;
}