section.home{
    background-image: url(../img/about-bg.jpg);
    color:white;
    padding:65px 0;
    background-position: center;
    background-attachment: fixed;
}
.video__block{
    width: 365px;
    height: 365px;
    overflow: hidden;
    position: relative;
}
.video__block img{
    position: absolute;
    right: 0;
}
.blocks{
    display: flex;
    align-items: center;
}
.home__title{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    z-index: 4;
    text-shadow: 1px 1px 1px black;
}
.home__paragraph{

}
.history{
    height: 650px;
    overflow: hidden;
    background:  #000000eb;
   font-size:  0;
}
.slider-text {
    display:  inline-block;
    width:  39%;
    vertical-align:  top;
    background:  #0000005c;
    height:  100%;
    overflow:  hidden;
    height:  650px;
    font-size:  20px;
    color: white;

}
.slider-img {
    display:  inline-block;
    width:  61%;
    height:  650px;
}
.square__title{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 15px;

}
section.partners{
    padding: 100px 0 140px;
    background-color: #f2f2f2;

}
.partners__left{
    width: 35%;
}
.partners__right{
    display: flex;
    justify-content: space-between;
    width: 58%;
    padding: 30px;
}
p{
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}
.home__subtitle{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: white;
}
.white{
    color: white;
}
.capabilities{
    background-color: #000000;
    position: relative;
    overflow: visible;
    padding: 90px 0 90px;
}
.capabilities__left{
    max-width: 51%;
}
.capabilities__right img{
    position: absolute;
    right: 203px;
    top: 54px;
    width: 455px;
}
.product__video-wrap video{
    height: 100%;
}
.peoples__right img{
    position: relative;
}
.row-block{
    background: rgba(255, 255, 255, .3);
    display: flex;
    flex-wrap: wrap;
    margin: 117px -17px 0px;
    padding: 100px 0 100px 40px;
    position: relative;
}
.info{
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 26px;
    width: 20%;
}
.people__block {
    display: flex;
    max-width: 303px;
    height: 101px;
    padding: 12px 15px;
    box-sizing: border-box;
    position: relative;
    margin: 5px;
}
.people__block_first {
    background: rgba(251, 242, 215, .15);
}
.space{
    background: url(../img/space-bg.png);
}
.peoples__right{
    width:50%;
}
.peoples__left{
    width: 50%;
}
p.people__text{
    padding: 43px 25px 114px;
    margin-bottom: 0px;
    max-width: 535px;
    font-size: 24px;
}
.people__block-wrap{
    display: flex;
    flex-wrap: wrap;
}
.peoples .blocks{
    align-items: flex-start;
    justify-content: center;
}
.peoples{
    padding: 65px 0;
}
.people__block-text{
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 0;
}
.people__block-num {
    float: left;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    padding: 0 15px;
    width: 131px;
}
.production{
    background-color: #315f9b;
    position: relative;
    overflow: hidden;
    padding: 210px 0 275px;
    z-index: 2;
}
.product__video-wrap {
    background: rgba(0,0,0,.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
}
.product__wrap p{
    width: 450px;
}
.production .home__title{
    margin-bottom: 90px;
    position: relative;
    z-index: 2;
}
.about-page__square {
    box-shadow: 0px 5px 90px 0px rgba(0,0,0,0.5);
    margin: -20px 20px 155px 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 395px;
    width: 395px;
}
.about-page__square-inner {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.about-page__square-img {
    height: 100%;
    max-width: initial !important;
    position: absolute;
    right: 0;
    width: 100%;
}
.about-page__square-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 15px;
}
.about-page__square-btn {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 285px;
    padding: 11px 35px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s, background .2s;
    outline: none;
    position: relative;
    z-index: 1;
}
.about-page__square-overlay {
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: background .2s;
}
.about-page__square-overlay:hover {
    background: rgba(253, 248, 248, 0.3);
}
.about-page__square-block {
    background: rgba(0,0,0,.7);
    box-sizing: border-box;
    font-size: 18px;
    text-align: left;
    opacity: 0;
    overflow-y: auto;
    padding: 15px 45px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s;
}
.about-page__square-btn:hover, .about-page__square-btn:focus {
    background: #fff;
    color: #649dd9;
}
.events{
    padding: 75px;
}
.about-page__square-text {
    color: #649dd9;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 0 30px;
    position: relative;
    z-index: 1;
}
/*.about-page__square_lg {
    width: 593px;
}*/
.events__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-page__square_offset{
    margin: 160px;
}
.about-page__square_show .about-page__square-block, .about-page__square_show .about-page__square-btn-close {
    visibility: visible;
    opacity: 1;
    color:white;
}
.about-page__square-btn-close {
    content:'X';
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: -31px;
    right: -31px;
    opacity: .7;
    height: 26px;
    width: 26px;
    visibility: hidden;
    z-index: 1;
}

@media (max-width: 1320px) {
    .about-page__square_offset {
        margin: 35px;
    }
    .about-page__square_lg {
        margin: 25px 25px 100px;
    }
}
@media (max-width: 1200px){
    .people__block-wrap {
         justify-content: center;
    }
    .peoples__left {
        text-align: center;
    }
    .capabilities__right img {
        right: 22px;
        }
}
@media (max-width: 1040px) {
    .about-page__square {
        margin: 3px 20px 155px 20px;
        height: 300px;
        width: 300px;
    }
    .about-page__square_lg {
        margin: 63px 0px 137px;
      /*  width: 400px;*/
    }

    .home__title {
        font-size: 52px;
    }
    section.home {
         padding: 42px 0;
    }
    .about-page__square-title {
        font-size: 22px;
        line-height: 1;
        margin: -26px 0 15px;
    }
}
@media (max-width: 989px) {
    .events__wrap{
        justify-content: center;
    }

}
@media (max-width: 850px) {
    .home__subtitle {
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
        z-index: 4;
    }
    .home__video{
        display: none;
    }
    .peoples__right{
        display: none;
    }
    .people__text{
        text-transform: uppercase;
        font-size: 28px;
    }
    .history{
        display: none;
    }
    .home{
        text-align: center;
    }
    .partners__left {
        width: 100%;
        text-align: center;
    }
    .partners__right {
        width: 100%;
    }
    section.partners {
        padding: 64px 0 65px;
    }
    section.partners .blocks {
        flex-wrap: wrap;
    }
}
@media (max-width: 540px) {
    .capabilities__left {
        max-width: 100%;
        text-align: center;
    }
    .capabilities__right {
        display: none;
    }
    .capabilities {
        padding: 62px 0 47px;
    }
    .production {
        padding: 76px 0 96px;
    }
    .home__title {
        font-size: 43px;
    }

}
@media (max-width: 450px) {
    .home__title {
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .about-page__square-title {
        font-size: 18px;
        margin: -26px 0 15px;
    }
    .about-page__square-text {
        font-size: 13px;
        line-height: 16px;
        margin-top: 35px;
    }
    .about-page__square_lg {
        margin: 0px 0px 105px;
    /*    width: 400px;*/
    }
    .product__wrap p {
        width: 100%;
    }
}