@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	.flex-row .name
		padding-left: 35px
	.double .video .vid video
		min-height: 100%
		min-width: 100%
		width: auto
		height: auto
	.double .video .vid video
		min-width: 130%
	.container
		width: 100%
		padding-left: 10px
		padding-right: 10px
	.double .news h3
		width: 260px
	.flex-row .spinner1
		left: -220px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 1250px)
	.flex-row .spinner1
		left: -420px
	header .menu
		width: 760px
	.flex-row
		flex-wrap: wrap
	.flex-row .box:first-child
		width: 100%
	.flex-row .box
		width: 50%
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 1060px)
	footer .container
		padding-left: 40px
		padding-right: 40px
	header .menu
		width: 630px
	.double
		flex-wrap: wrap
		height: auto
		.video
			margin-right: 0
			width: 100%
			height: 380px
		.news
			width: 100%
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 950px)
	header .menu a
		height: 40px
	header .menu
		width: 580px
	.one-section
		height: 470px
	.flex-row .image
		right: 0
	.flex-row .box
		height: 240px
	footer .top
		flex-wrap: wrap
	footer .row:nth-child(3)
		width: 100%
		order: 2
		margin-top: 20px
	footer .row:nth-child(1)
		width: 260px
	footer .row:nth-child(2)
		width: 210px	
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 862px)
	.flex-row .spinner1
		left: -220px
	.one-section .videos video
		min-width: 125%
	.card
		padding-top: 15px
		padding-left: 30px
		padding-right: 30px
		padding-bottom: 15px
		background-color: rgba(0,0,0,.87)
		margin-top: 20px
		margin-bottom: 20px
		a
			color: #fff
			text-decoration: none
			font-size: 21px
	.close
		position: static
		top: 5px
		right: 30px
		width: 20px
		height: 20px
		z-index: 3
		svg
			fill: #fff
	.mobile-menu
		.content
			padding-left: 30px
			padding-right: 30px
			padding-top: 12px
			padding-bottom: 12px
			a
				color: #fff
				font-size: 24px
				font-weight: 600
				text-decoration: none
				text-transform: uppercase
				line-height: 28px
				padding-top: 12px
				padding-bottom: 12px
				display: inline-block
		.top
			position: relative
		position: fixed
		top: 0
		left: 0
		right: 0
		height: 100%
		background-color: #333
		z-index: 20
		display: block
		transition: top ease-in-out .3s
		top: -200%
		&.active
			top: 0
	.mobile-menu .top
		display: flex
		padding-top: 40px
		justify-content: space-between
		align-items: center
		padding-left: 30px
		padding-right: 30px
		a
			color: #fff
			font-weight: 600
			font-size: 21px
		.nice-select
			border: none
			background-color: #d1d1d1
			height: 26px
			min-height: 26px
			display: flex
			align-items: center
			justify-content: center
			padding: 0
			padding-right: 14px
			width: 50px
			color: #fff
			&:after
				right: 8px
				border-bottom-color: #fff
				border-right-color: #fff
		.nice-select .option
			color: #000
	header .top
		justify-content: center
	header
		display: none
	.mobile-fixed
		display: flex
		justify-content: space-between
		align-items: center
		height: 60px
		background-color: #fff
		padding-left: 15px
		padding-right: 15px
		.hamburger
			display: flex
			justify-content: center
			align-items: center
		.righ
			display: flex
			justify-content: flex-end
			align-items: center
			a
				margin-right: 20px
				font-size: 16px
				color: #a2a1a1
				font-weight: 600
				text-decoration: none
		svg
			width: 40px
		.logo
			display: flex
			align-items: center
			height: 60px
			justify-content: flex-start
			img
				height: 80%
		
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 815px)
	footer .row:nth-child(4)
		order: 5
		width: 50%
		margin-top: 20px
	footer .row:nth-child(3)
		width: 50%
	/**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 700px)
	.flex-row .box
		width: 100%
	.one-section
		height: 400px
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 580px)
	footer
		padding-top: 10px
	footer .row
		margin-top: 30px
	.one-section
		height: 300px
	.flex-row .box
		width: 100%
	footer .row:nth-child(1),
	footer .row:nth-child(2),
	footer .row:nth-child(3),
	footer .row:nth-child(4),
		width: 100%
		text-align: center
	footer .top .soc,
	footer .top .logix
		justify-content: center
	footer .row:nth-child(4) a
		justify-content: center
	.double .news
		padding-right: 40px
		br
			display: none
	/**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 580px)
	.double .video
		height: 320px
	footer .bot
		flex-wrap: wrap
		p,a
			width: 100%
			justify-content: center
			text-align: center
	.double .news h3
		width: 220px
	.flex-row .spinnnerrs
		right: -80px
	.flex-row .name
		padding-top: 45px
	.mobile-fixed svg
		width: 25px
	.mobile-fixed .righ a
		font-size: 14px
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 430px)
	footer .top .logix a:last-child
		margin-right: 0
	.double .news .top
		flex-wrap: wrap
		justify-content: center
		h3
			margin: 0
			width: 300px
			text-align: center
		a
			width: 300px
			text-align: center
			margin: 0
	.one-section .videos video
		min-width: 170%
	.double .video
		height: 300px
	.double .video .vid video
		min-width: 165%
	.flex-row .image
		transform: scale(.8)
		right: -20px
		
	/**/
/* Custom, iPhone Retina */
@media only screen and (max-width : 430px)
	.card
		margin-top: 10px
		margin-bottom: 0
	.mobile-fixed .righ a
		margin-right: 10px
	.mobile-menu .top
		padding-top: 12px
		padding-left: 10px
		padding-right: 10px
	.card,
	.mobile-menu .content
		padding-left: 10px
		padding-right: 10px
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

