@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	&.active
		overflow: hidden
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	background-color: #fff

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff

.container
	width: 1300px
	margin-left: auto
	margin-right: auto

header
	.container
		height: 125px
		display: flex
		align-items: flex-end
		justify-content: space-between
	.logo
		width: 115px
		display: flex
		height: 125px
		justify-content: flex-start
		align-items: center
	.right
		width: 1185px
	.top
		display: flex
		justify-content: flex-end
		align-items: center
	.bot
		display: flex
		justify-content: space-between
		align-items: center
	.nice-select,
	.nice-select .option
		width: 48px
		height: 26px
		background-color: #d1d1d1
		padding: 0
		display: flex
		padding-right: 10px
		align-items: center
		justify-content: center
		color: #fff
		font-weight: 600
		min-height: 26px
		border: none
	.nice-select:after
		border-bottom-color: #fff
		border-right-color: #fff
		right: 7px
	.menu
		display: flex
		justify-content: space-between
		align-items: center
		width: 915px
		a
			font-size: 14px
			text-decoration: none
			font-weight: 600
			text-transform: uppercase
			color: #000
			height: 54px
			display: flex
			align-items: flex-start
			padding-top: 10px
			border-bottom: 3px solid transparent
		li
			&:hover,
			&.active
				a
					border-bottom-color: #3415ec
	.login
		padding-left: 35px
		position: relative
		vertical-align: middle
		text-decoration: none
		font-weight: 400
		color: #000
		&:before
			width: 20px
			height: 20px
			background-image: url(../img/iconuser.png)
			background-repeat: no-repeat
			line-height: 17px
			margin-right: 5px
			vertical-align: middle
			background-position: center center
			content: ''
			display: inline-block
.cart
	background-image: url(../img/icon1.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	width: 173px
	display: flex
	padding-left: 7px
	padding-top: 3px
	text-decoration: none
	font-family: 'ProximaNova'
	font-size: 16px
	color: #fff
	height: 50px
	margin-right: 75px
.tel
	font-weight: 600
	font-size: 20px
	color: #000
	margin-right: 30px
	text-decoration: none

.flex-row
	display: flex
	justify-content: space-between
	align-items: flex-start
	.box
		width: 33.3333333%
		background-color: #000
		height: 270px
		position: relative
		overflow: hidden
		&.active
			.spinner1
				transition: left linear 3s
				left: -153px
		.spinner1
			transition: none
		&:first-child
			background-color: #e9e9e8
			.circle
				span:first-child
					position: absolute
					width: 270px
					height: 270px
					border-radius: 50%
					background-color: #cbcbca
					right: -60px
					bottom: -70px
					z-index: 3
				span:nth-child(2)
					width: 325px
					height: 325px
					background-color: #d3d3d2
					display: block
					border-radius: 50%
					z-index: 2
					bottom: -95px
					right: -85px
					position: absolute
					content: ''
				span:nth-child(3)
					width: 375px
					height: 375px
					background-color: #dddddc
					display: block
					border-radius: 50%
					z-index: 1
					bottom: -120px
					right: -110px
					position: absolute
					content: ''
		&:nth-child(2)
			background-color: #ede2c8
			.circle
				span:first-child
					position: absolute
					width: 270px
					height: 270px
					border-radius: 50%
					background-color: #f5d07f
					right: -60px
					bottom: -70px
					z-index: 3
				span:nth-child(2)
					width: 325px
					height: 325px
					background-color: #f3d593
					display: block
					border-radius: 50%
					z-index: 2
					bottom: -95px
					right: -85px
					position: absolute
					content: ''
				span:nth-child(3)
					width: 375px
					height: 375px
					background-color: #f0dbab
					display: block
					border-radius: 50%
					z-index: 1
					bottom: -120px
					right: -110px
					position: absolute
					content: ''
		&:nth-child(3)
			background-color: #dfefea
			.circle
				span:first-child
					position: absolute
					width: 270px
					height: 270px
					border-radius: 50%
					background-color: #c0d8d0
					right: -60px
					bottom: -70px
					z-index: 3
				span:nth-child(2)
					width: 325px
					height: 325px
					background-color: #c9ded7
					display: block
					border-radius: 50%
					z-index: 2
					bottom: -95px
					right: -85px
					position: absolute
					content: ''
				span:nth-child(3)
					width: 375px
					height: 375px
					background-color: #d3e6e0
					display: block
					border-radius: 50%
					z-index: 1
					bottom: -120px
					right: -110px
					position: absolute
					content: ''
	.spinner
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		z-index: 10
	.spinnnerrs
		position: absolute
		right: 0
		top: 0
		width: 200px
		height: 100%
	.spinners
		position: absolute
		right: 40px
		top: 65px
		.spinner3
			top: -50px
			right: -14px
		.spinner2
			top: 35px
			right: 105px
		.spinner4
			top: 78px
			right: 11px
	.spinner1
		top: 105px
		left: -420px
	.name
		padding-left: 80px
		padding-top: 50px
		line-height: 24px
		text-transform: uppercase
		font-weight: 700
		font-size: 20px
		color: #1f1f1f
		position: relative
		z-index: 12
	.image
		position: absolute
		top: 15px
		right: 70px
		z-index: 5
		transition: transform .6s
	.box
		text-decoration: none
		display: block
		&:hover
			.image
				transform: scale(1.1)
section,
header,
footer
	max-width: 2500px
	margin-left: auto
	margin-right: auto
.double
	display: flex
	justify-content: space-between
	align-items: stretch
	height: 380px
	margin-top: 30px
	margin-bottom: 30px
	.video
		margin-right: 32px
		position: relative
		width: 50%
		.vid
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 2
			display: flex
			justify-content: center
			align-items: center
			overflow: hidden
			video
				min-width: 100%
		.content
			position: absolute
			width: 100%
			height: 100%
			background-color: rgba(0,0,0,.5)
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 3
			display: flex
			flex-direction: column
			align-content: center
			align-items: center
			justify-content: center
			text-decoration: none
			span
				font-weight: 700
				padding-top: 10px
				font-size: 20px
				color: #fff
				text-transform: uppercase
	.news
		width: 50%
		background-color: #f6f6f6
		padding-top: 50px
		padding-left: 40px
		padding-bottom: 50px
		.box
			margin-bottom: 32px
			&:last-child
				margin-bottom: 0
		.date
			margin-bottom: 11px
			line-height: 1
			font-size: 14px
			color: #7a7a7a
		p
			font-weight: 400
			color: #1f1f1f
			font-size: 18px
			line-height: 21px
		a
			font-weight: 600
			color: #1f1f1f
			font-size: 18px
			line-height: 26px
			text-decoration: none
		.top
			margin-bottom: 28px
			display: flex
			align-items: center
			a
				font-weight: 500
				color: #4228c3
				font-size: 18px
				svg
					margin-left: 8px
					fill: #4228c3
		h3
			font-weight: 700
			color: #1f1f1f
			text-transform: uppercase
			font-size: 24px
			width: 395px
			line-height: 1

.one-section
	position: relative
	height: 510px
	overflow: hidden
	.videos
		position: absolute
		left: 0
		right: 0
		bottom: 0
		top: 0
		display: flex
		align-items: center
		justify-content: center
		video
			min-width: 100%
.mobile-fixed,
.mobile-menu
	display: none
footer
	background-image: url(../img/footer.jpg)
	padding-top: 55px
	padding-bottom: 30px
	background-size: cover
	.bot
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 15px
		p
			font-size: 14px
			color: #a2a1a1
		a
			font-size: 14px
			color: #a2a1a1
	.top
		display: flex
		justify-content: space-between
		align-items: flex-start
		.soc
			display: flex
			justify-content: flex-start
			margin-bottom: 70px
			a
				display: flex
				justify-content: center
				align-items: center
				width: auto
				margin-right: 14px
		.logix
			display: flex
			justify-content: flex-start
			a
				margin-right: 25px
				display: flex
				justify-content: center
				align-items: center
				width: auto
				img
					max-width: 100%
					height: auto
					width: auto
					display: block
					-webkit-filter: grayscale(100%)
					-moz-filter: grayscale(100%)
					-ms-filter: grayscale(100%)
					-o-filter: grayscale(100%)
					filter: grayscale(100%)
					filter: gray
				&:hover
					img
						filter: none
		a
			display: inline-block
			width: 100%
			line-height: 30px
			color: #fff
			font-size: 14px
			text-decoration: none
			text-transform: uppercase
			&:hover
				text-decoration: underline
	h3
		margin-bottom: 21px
		font-size: 14px
		text-transform: uppercase
		font-weight: 600
		color: #a2a1a1
		line-height: 1	
	.row
		&:nth-child(1)
			width: 350px
		&:nth-child(2)
			width: 265px
		&:nth-child(3)
			width: 425px
		&:nth-child(4)
			width: 260px
			text-align: right
			p
				font-size: 14px
				color: #a2a1a1
				font-weight: 600
				margin-bottom: 15px
				padding-right: 40px
			a
				display: flex
				align-items: center
				justify-content: flex-end
				font-weight: 700
				font-size: 18px
				img
					margin-left: 20px

.lfx
	display: flex
	align-items: center
@keyframes pulse-me
  0%
    transform: scale(1)
    opacity: 1

  30%
    opacity: 1

  70%
    opacity: 0.09

  100%
    transform: scale(3)
    opacity: 0

@keyframes mymove
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes mymove2
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes mymove3
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(-360deg)





@import "media" // Всегда в конце
